################
# Vagrant part #
################

# Vagrant data folder

.vagrant/

# Vagrant machine logs

/ubuntu-*.log

################
# Ansible part #
################

# Ansible retry files
*.retry

# Ansible Galaxy roles
provisioning/roles/nginx/*
provisioning/roles/docker/*
provisioning/roles/node/*

###############
# VSCode part #
###############

# Sftp config
/.vscode/sftp.json

###############
# Docker part #
###############

# Docker compose backup files
docker-compose-old.yml
docker-compose-latest.yml