  .log-display {
    background-color: #fff;
    color: #212529;
  }
  
  .log-display:focus { 
    background-color: #fff;
    color: #212529;
  }
  
  .form-control:disabled, .form-control[readonly] {
    background-color: #fff;
    color: #212529;
  }

.string { color: #212529; }
.number { color: #d10000; }
.boolean { color: rgb(248, 94, 55); }
.null { color: #009f6c; }
.key { color: #2b7cc4; }
.date { color: #6a00ff; }

.found-ok { color: #009f6c; }
.found-some { color: rgb(255, 126, 94); }
.found-none { color: #d10000; }

.background-highlight {
  background-color: #fff176;
}

.ace-clouds .ace_keyword  {
  color:  #e91e91 !important;
}
.ace-clouds .ace_keyword  {
  color:  #cc1b1b !important;
}

.ace-clouds .ace_support.ace_function  {
  color:  #745e00 !important;
}

.ace-clouds .ace_variable  {
  color:  #6a00ff !important; 
}

.ace-clouds .ace_constant.ace_language  {
  color:  rgb(0, 179, 12) !important;
}

.ace-clouds .ace_string  {
  color:  rgb(4, 96, 202) !important;
}

.mark-danger {
  background-color: #E74C3C;
}

.mark-warning {
  background-color: #F39C12;
}

.mark-success {
  background-color: #18BC9C;
}