.log-display {
  background-color: #282a36;
  color: #f8f8f2;
}

.log-display:focus { 
  background-color: #282a36;
  color: #f8f8f2;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #282a36;
  color: #f8f8f2;
}

.btn-link {
  color: #24bfff;
}

.string { color: #ffffff; }
.number { color: #77e9ff; }
.boolean { color: #ff37c1; }
.null { color: #00c257; }
.key { color: #e5ff87; }
.date { color: #fa8484; }

.found-ok { color: #00c257; }
.found-some { color: #F39C12; }
.found-none { color: #E74C3C; }

.background-highlight {
  background-color: #354e94;
}

.background-emphasis {
  background-color: #434c4c;
}

.mark-danger {
  background-color: #E74C3C;
  color: black;
}

.mark-warning {
  background-color: #F39C12;
  color: black;
}

.mark-success {
  background-color: #00bc8c;
  color: black;
}

.app_editor_dragbar {
  background-color: #324837;
}

.app_editor_wrapper {
	border: 0px solid #324837;
}